.square {
    background: var(--square-colour);
    border: 0.1rem solid var(--bg-colour);
    font-size: 3rem;
    font-weight: bold;
    width: var(--cell-size);
    height: var(--cell-size);
    float: left;
    transition: 0.2s ease;
}

.square:not(.highlighted):hover {
    background-color: var(--emph-colour);
}

.highlighted {
    background-color: var(--highlight-colour);
}