/* https://coolors.co/palette/e7ecef-274c77-6096ba-a3cef1-8b8c89 */
:root {
    --text-colour: #E7ECEF;
    --bg-colour: #274C77;
    --square-colour: #A3CEF1;
    --emph-colour: #6096BA;
    --highlight-colour: #DC493A;
    --desired-grid-size: 50vh;
    --preview-desired-grid-size: 10rem;
    --cell-size: calc(var(--desired-grid-size) / 3);
    --preview-cell-size: calc(var(--preview-desired-grid-size) / 3);
}

body {
    font: 20px "Century gothic", Futura, sans-serif;
    margin: 0;
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: var(--bg-colour);
    color: var(--text-colour);
}
